@use '../util' as u;

body {
  background-color: var(--clr-background-white);

  .application-title {
    padding-block: u.rem(10);
    font-family: var(--font-secondary);
    font-size: u.rem(50);
    text-transform: capitalize;
    text-align: center;
    background-color: var(--clr-dark-grey-2);
    color: var(--clr-white);
  }

  .application-wrapper {
    min-height: calc(100vh - u.rem(83));

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
}
