@use '../util' as u;

.form {
  line-height: 1.1;

  width: 100%;
  max-width: u.rem(1100);
  margin: 0 auto;
  background-color: var(--clr-light-grey-1);
  border-radius: u.rem(10);
  padding: u.rem(30);

  &__title {
    text-transform: capitalize;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--title-group,
    &--amount-group,
    &--date-group {
      display: flex;
      align-items: center;
      border: 1px solid hsl(210, 14%, 83%);
    }

    &--title-group,
    &--amount-group {
      border-top-left-radius: u.rem(20);
      border-bottom-left-radius: u.rem(20);
    }

    &--radio-group {
      display: flex;
      overflow: hidden;
      border-top-right-radius: u.rem(20);
      border-bottom-right-radius: u.rem(20);
      // border: 1px solid hsl(210, 14%, 83%);
      // border-left: none;
    }

    &--title-group {
      width: calc(100% - u.rem(215));
    }

    &--amount-group {
      width: 50%;
      border-right: none;
    }

    &--date-group {
      width: 50%;
      border: none;
    }

    &--button-wrapper {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__label {
    text-transform: capitalize;
    font-weight: 300;
    color: var(--clr-dark-grey-2);

    &--title,
    &--amount,
    &--date {
      padding-inline: u.rem(25);
    }

    &--income,
    &--expense {
      background-color: aliceblue;
      padding: u.rem(11) u.rem(30);
      cursor: pointer;
      transition: 0.2s;
    }

    &--date {
      border-block: 1px solid hsl(210, 14%, 83%);
      padding-block: u.rem(10.5);
    }
  }

  &__input {
    &--title,
    &--amount,
    &--date {
      font-family: var(--font-primary);
      letter-spacing: u.rem(1);
      padding: u.rem(7);
      font-size: u.rem(16);
      font-weight: 300;
      color: var(--clr-dark-grey-1);
      border: none;

      &:focus {
        outline-color: var(--clr-light-blue);
      }
    }

    &--title {
      width: 100%;
    }

    &--income {
      display: none;

      &:checked + .form__label--income {
        background-color: var(--clr-green);
        color: var(--clr-white);
      }
    }

    &--expense {
      display: none;

      &:checked + .form__label--expense {
        background-color: var(--clr-red);
        color: var(--clr-white);
      }
    }

    &--amount {
      width: 100%;
    }

    &--date {
      width: 100%;
      border: 1px solid hsl(210, 14%, 83%);
      border-left: none;
      border-top-right-radius: u.rem(20);
      border-bottom-right-radius: u.rem(20);
    }
  }

  &__button {
    text-transform: capitalize;
    font-size: u.rem(16);
    font-weight: 300;
    letter-spacing: u.rem(1);
    padding: u.rem(10) u.rem(100);
    border: none;
    background-color: var(--clr-blue);
    color: var(--clr-white);
    border-radius: u.rem(20);
  }
}
